---
services:
  whoogle:
    image: benbusby/whoogle-search:latest
    container_name: whoogle
    environment:
      - WHOOGLE_CONFIG_GET_ONLY=1
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /var/lib/docker/volumes:/var/lib/docker/volumes
    ports:
      - 5000:5000
    deploy:
      mode: global
      restart_policy:
        condition: unless-stopped
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.whoogle.entrypoints=websecure"
      - "traefik.http.routers.whoogle.rule=Host(`whoogle.lan.dresen.tech`)"
      - "traefik.http.routers.whoogle.tls=true"
      - "traefik.http.routers.whoogle.tls.certresolver=production"
      - "com.centurylinklabs.watchtower.enable=true"
    networks:
      - docker_net
networks:
    docker_net:
      external: true
