---
services:
  watchtower:
    image: nickfedor/watchtower:latest
    container_name: watchtower
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    environment:
      - WATCHTOWER_NOTIFICATIONS_HOSTNAME=Docker
      - WATCHTOWER_NO_STARTUP_MESSAGE=true  # Disables startup message when container starts
      - WATCHTOWER_LABEL_ENABLE=true  # Will only monitor containers with label set to true
      - WATCHTOWER_NOTIFICATIONS=shoutrrr
      - WATCHTOWER_NOTIFICATION_URL=$TELEGRAM_URL  # Can also add: $SMTP_URL $PUSHOVER_URL
      - WATCHTOWER_NOTIFY-email-subject=Watchtower Update Notification
      - WATCHTOWER_NOTIFY-email-body-template={{ .Summary }}
      - WATCHTOWER_NOTIFICATIONS_LEVEL=error
      - WATCHTOWER_NOTIFICATION_REPORT_LEVEL=error
      - WATCHTOWER_CLEANUP=true
      - WATCHTOWER_POLL_INTERVAL=86400 # Once a day
    # command: --interval 21600 --cleanup --label-enable --include-stopped  # Check for udpates every six hours
    command: --schedule "0 0 3 * * *" --cleanup --label-enable --include-stopped  # Check for updates at 3am
    deploy:
      mode: global
      restart_policy:
        condition: unless-stopped
    networks:
      - docker_net
networks:
    docker_net:
      external: true
